
/*CSS comment*/
* {
	box-sizing: border-box;
}

html {
	font-size: 20px; 
	font-family: 'Open Sans', sans-serif;
}

#content {
  display: grid;
}

header {
  display: grid;
  font-size: 35px;
  padding: 10px;
  border: 1px solid black;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  /* justify-content: center; */
  height: 100vh;
}

/* Project Column */

.projects {
  display: block;
  width: 300px;
  /* background: #e5ff52; */
  background: #fff;
}

.projects-heading {
  height: 47px;
  border-bottom: solid 2px #b93030;
  margin: 10px;
}

.projects-heading > h1 {
  padding: 0 30px 5px 10px;
}

#project-list {
    border-right: solid 2px #b93030;
    margin: 5px;
}

#project-list > * {
  margin: 5px;
  padding: 5px 5px 5px 25px;
}

#project-form {
  display: grid;
  justify-items: center;
}
.new-project {
  display: none;
  justify-items: center;
  margin: 5px 0 0 0;
  border-radius: 10px;
  color: white;
  background-color: #b93030;;
}
.new-project > * {
  margin: 5px;
}

.selected {
  background: #b93030;
  border-radius: 5px;
  color: white;
}

/* Task Column */

.tasks {
  display: grid;
  /* justify-items: center; */
  grid-template-rows: 40px 150px auto;
  width: 100%;
  padding: 10px;
  /* background: #86c9ff; */
  background: #fff;
}

.task-btn {
  justify-self: center;
}

.new-task {
  justify-self: center;
  display: none;
  grid-template-rows: repeat(5, 25px);
  grid-row-gap: 2px;
  justify-items: center;
  border-radius: 10px;
  margin: 5px 0 0 0;
  color: white;
  background-color: #b93030;;
}

.new-task > * {
  margin: 5px;
}

#task-list > * {
  margin-top: 5px;
  padding: 10px;
  border-top: 2px solid #b93030;
}

.task-item > * {
  margin: 5px;
}

/* Buttons */

button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  color: #fff;
  background-color: #b93030;
}

/* Form Validation */

/* input:invalid {
  background:  #fff;
}

input:valid {
  background: #23fe2e;
} */




