
/*CSS comment*/
* {
	box-sizing: border-box;
}

html {
	font-size: 20px; 
	font-family: 'Open Sans', sans-serif;
}

#content {
  display: grid;
}

header {
  display: grid;
  font-size: 35px;
  padding: 10px;
  border: 1px solid black;
  justify-content: center;
}

.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 100vh;
}

/* Project Column */

.projects {
  display: block;
  width: 300px;
  background: #e5ff52;
}

.projects-heading {
    border-bottom: solid 2px #b93030;
    margin: 10px;
}

.projects-heading > h1 {
  padding: 0 30px 5px 10px;
}

#project-list {
    border-right: solid 2px #b93030;
    margin: 5px;
}

#project-list > * {
  margin: 5px;
  padding: 5px 5px 5px 25px;
}

#project-form {
  display: grid;
  justify-items: center;
}
.new-project {
  display: none;
  justify-items: center;
  margin: 5px 0 0 0;
  border-radius: 10px;
  color: white;
  background-color: #b93030;;
}
.new-project > * {
  margin: 5px;
}

.selected {
  background: #b93030;
  border-radius: 5px;
  color: white;
}

/* Task Column */

.tasks {
  display: grid;
  width: 400px;
  padding: 10px;
  justify-content: left;
  background: #86c9ff;
}

.tasks > * {
  padding: 5px;
  display: grid;
  justify-content: center;
}

.new-task {
  display: none;
  border-radius: 10px;
  color: white;
  background-color: #b93030;;
}

#task-list > * {
  margin-top: 5px;
  padding: 10px;
  border-top: 2px solid #b93030;
}

.task-item > * {
  margin: 5px;
}

/* Buttons */

button {
  width: 100px;
  height: 40px;
  border-radius: 8px;
  color: white;
  background-color: #b93030;
}

/* Form Validation */

input:invalid {
  background:  #ffffff;
}

input:valid {
  background: #23fe2e;
}




